With mvc/AngularJsAppDemo/AngularJsAppDemo.DAL/Service References/MyServiceReference/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51034/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AngularJsAppDemo.DOL" />
  <xs:element name="MyName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="View">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AngularJsAppDemo.DOL" minOccurs="0" name="ViewResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>