With mvc/AngularJsAppDemo/AngularJsAppDemo.DAL/Service References/MyServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AngularJsAppDemo.DOL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AngularJsAppDemo.DOL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRoleMaps" nillable="true" type="tns:ArrayOfUserRoleMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserRoleMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleMap" nillable="true" type="tns:UserRoleMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleMap" nillable="true" type="tns:ArrayOfUserRoleMap" />
  <xs:complexType name="UserRoleMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRoleMap" nillable="true" type="tns:UserRoleMap" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleMenuMaps" nillable="true" type="tns:ArrayOfRoleMenuMap" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRoleMaps" nillable="true" type="tns:ArrayOfUserRoleMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfRoleMenuMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleMenuMap" nillable="true" type="tns:RoleMenuMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleMenuMap" nillable="true" type="tns:ArrayOfRoleMenuMap" />
  <xs:complexType name="RoleMenuMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Menu" nillable="true" type="tns:Menu" />
      <xs:element minOccurs="0" name="MenuID" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleMenuMap" nillable="true" type="tns:RoleMenuMap" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Action" nillable="true" type="tns:Action" />
      <xs:element minOccurs="0" name="ActionID" type="xs:int" />
      <xs:element minOccurs="0" name="ControllerName" nillable="true" type="tns:ControllerName" />
      <xs:element minOccurs="0" name="ControllerNameID" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="ExtraAccessFunction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsExtraAccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleMenuMaps" nillable="true" type="tns:ArrayOfRoleMenuMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="Action">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Menus" nillable="true" type="tns:ArrayOfMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Action" nillable="true" type="tns:Action" />
  <xs:complexType name="ArrayOfMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menu" nillable="true" type="tns:Menu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenu" nillable="true" type="tns:ArrayOfMenu" />
  <xs:complexType name="ControllerName">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Menus" nillable="true" type="tns:ArrayOfMenu" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControllerName" nillable="true" type="tns:ControllerName" />
</xs:schema>